{% include "html_head.html" %}
  <body>
    {% include "nav_block.html" %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 15rem;">
	  	<img src="Turkey_Main.jpg" class="card-img-top" alt="Turkey">
	  	<div class="card-body">
	    	<h5 class="card-title">Türkisch</h5>
	    	<p class="card-text">All deine Türkischen Rezepte</p>
	    	<a href="#" class="btn btn-primary">Finde dein Rezept</a>
	  	</div>
	  </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 15rem;">
	  	<img src="Französisch_Main.jpg" class="card-img-top" alt="Französisch">
	  	<div class="card-body">
	    	<h5 class="card-title">Französisch</h5>
	    	<p class="card-text">All deine Französischen Rezepte</p>
	    	<a href="#" class="btn btn-primary">Finde dein Rezept</a>
	  	</div>
	  </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 15rem;">
	  	<img src="Italienisch_Main.jpg" class="card-img-top" alt="Italienisch">
	  	<div class="card-body">
	    	<h5 class="card-title">Italienisch</h5>
	    	<p class="card-text">All deine Italienischen Rezepte</p>
	    	<a href="#" class="btn btn-primary">Finde dein Rezept</a>
	  	</div>
	  </div>
    </div>
  </div>
</div>

    
  </body>
</html>