<div>
    {% if rezepte %}
	{% for key, value in rezepte.items() %}
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ key }}</h5>
					<p class="card-text">{{ value }}</p>
					<form method="post">
						<input type="hidden" name="rezept_titel" value="{{ key }}">
				        <button type="submit" class="btn btn-danger">Löschen</button>
				      </form>
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	<h3>Keine Rezepte gefunden.</h3>
{% endif %}
<br/br>
<a href="{{ url_for('home')}}" class="btn btn-primary">Zurück</a>
</div>