 <a href="{{ url_for('home')}}">
 <h1>Zutatenapp</h1>
</a>
    <div class="card">
  <h5 class="card-header">Erfasse ein Gericht</h5>
  <div class="card-body">
    <h5 class="card-title">Verliere nie mehr ein Gericht</h5>
    <p class="card-text"></p>
    <a href="{{ url_for('add_italy')}}" class="btn btn-primary">Italienisches Gericht</a>
    <a href="{{ url_for('add_franz')}}" class="btn btn-primary">Französisches Gericht</a>
    <a href="{{ url_for('add_turkey')}}" class="btn btn-primary">Türkisches Gericht</a>
    <a href="{{ url_for('add_richtung')}}" class="btn btn-primary">Neue Richtung erfassen</a>
  </div>
</div>