<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('home')}}">Zutatenapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {% if request.path == '/' or request.path == '/summary_italy' or request.path == '/summary_franz' or request.path == '/summary_turkey' %}active{% endif %}" href="{{ url_for('home')}}">Gesammelte Gerichte</a>
      <a class="nav-item nav-link {% if request.path == '/add_gericht' or request.path == '/add_italy' or request.path == '/add_franz' or request.path == '/add_turkey' %}active{% endif %}" href="{{ url_for('add_gericht')}}">Gericht hinzufügen</a>
    </div>
  </div>
</nav>